extends layout

block content
    div.container
        div.row
            p Welcome to the home of Oliver Martin and Lauren Sprouse
            p Please take a moment to 
                a(href='/rsvp') rsvp
                | &nbsp;and 
                a(href='/playlist') submit a song
                | &nbsp;to be played at our wedding
            p 
                a(href='http://honeyfund.com/wedding/laurenandoliver2016' target='_blank') Our Registries